

<!DOCTYPE html>

<html>
<head>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script type="text/javascript" src="~/Scripts/controllerbridge.js"></script>
    <script type="text/javascript" src="~/Scripts/studentindex.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

</head>
<body>
    <div>

        <h1>Enrollment status: </h1>
        <h2> -</h2>

    </div>
</body>
</html>
