<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">



    <link rel="stylesheet" href="~/Content/enroll.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>

    <script type="text/javascript" src="~/Scripts/controllerbridge.js"></script>
    <script type="text/javascript" src="~/Scripts/studentenroll.js"></script>

    <title>Sign Up #2</title>
</head>

<body>
    <a href="/User/Logout" class="navItem">Logout</a>
    <section id="registration-page">

        <form onsubmit="register()" class="signup-form">
            <div class="form-header">
                <h1>Student Registration Form</h1>
            </div>
            <div class="form-body">


                <div class="row">
                    <div class="input-group">
                        <label>First name* </label>
                        <input required id="FirstName" type="text">
                    </div>
                    <div class="input-group">
                        <label>Last name*</label>
                        <input required id="LastName" type="text">
                    </div>
                </div>
                <div class="row">
                    <div class="input-group">
                        <label>Email* </label>
                        <input disabled required  value ="test@gmail.com" id="Email" type="email">
                    </div>
                </div>
                <div class="row">
                    <div class="input-group">
                        <label>Address* </label>
                        <input required id="Address" type="text">
                    </div>
                </div>
                <div class="row">
                    <div class="input-group">
                        <label>National Identity Card* </label>
                        <input required id="NationalIdentity" type="text">
                    </div>
                </div>
                <div class="row">
                    <div class="input-group">
                        <label>Guardian Name</label>
                        <input id="GuardianName" type="text">
                    </div>
                </div>

                <div class="row">
                    <div class="input-group">
                        <label>Phone Number* </label>
                        <input id="Phone" type="text">
                    </div>
                    <div class="input-group">
                        <label>Date of Birth*</label>
                        <input required max='2000-01-01' id="DateOfBirth" type="date">
                    </div>
                </div>
                <div class="row">
                    <div class="input-group">
                        <select required class="form-select selectpicker subject_select " multiple data-max-options="3">
                        </select>
                    </div>
                    <div class="input-group">
                        <div class="result_input">
                        </div>
                    </div>
                </div>


                <div class="form-footer">
                    <input type="submit" value="Register" class="Submitbtn">
                </div>
            </div>
        </form>
    </section>
</body>

</html>