<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">



    <link rel="stylesheet" href="~/Content/enroll.css" />r

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

    <script type="text/javascript" src="~/Scripts/controllerbridge.js"></script>
    <script type="text/javascript" src="~/Scripts/studentenroll.js"></script>

    <title>Sign Up #2</title>
</head>


<body>

<div class="d-lg-flex half">
    <div class="bg order-1 order-md-2" style="background-image: url('../Content/enrollbg.jpg');"></div>


    <div class="contents order-2 order-md-1">

        <div class="container">
            <a style="float:right" href="/User/Logout">Logout</a>
            <div class="row align-items-center justify-content-center">
                <div class="col-md-7 py-5">
                    <h3>Student Enrollment Form</h3>
                    <p class="mb-4">Apply to study with us today! </p>
                    <form onsubmit="register()">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group first">
                                    <label for="fname">First Name</label>
                                    <input required type="text" class="form-control" placeholder="e.g. John" id="fname">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group first">
                                    <label for="lname">Last Name</label>
                                    <input required type="text" class="form-control" placeholder="e.g. Smith" id="lname">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group first">
                                    <label for="email">Email Address</label>
                                    <input disabled type="email" value="test@gmail.com" class="form-control" placeholder="e.g. john@uom.com" id="email">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group first">
                                    <label for="address">Address</label>
                                    <input type="text"  class="form-control" placeholder="e.g ebene cybercity" id="address">
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group first">
                                    <label for="NID">National Identity Card Number</label>
                                    <input required type="text" class="form-control" id="NID">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group first">
                                    <label for="phone">Phone number</label>
                                    <input required type="number" class="form-control" id="phone">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group first">
                                    <label for="date">Date of birth</label>
                                    <input required max='2000-01-01' type="date" class="form-control" id="date">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group first">
                                    <label for="guardian">Guardian Name</label>
                                    <input type="text" class="form-control" id="guardian">
                                </div>
                            </div>
                        </div>
                        <h5>Provide your HSC results</h5>
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group first">
                                    <select required class="form-select selectpicker subject_select " multiple data-max-options="3">
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-6 result_input">






                            </div>
                        </div>
                        <input type="submit" value="Register" class="btn px-5 btn-primary btnSubmit">

                    </form>
                </div>
            </div>
        </div>
    </div>


</div>


</body>


</html>