<head>
    <link rel="stylesheet" href="~/Content/adminpage.css">
</head>

<body>
    <table class="styled-table">
        <thead>
            <tr>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Total marks</th>
                <th>Status</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Dom</td>
                <td>6000</td>
                <td>6000</td>
                <td>6000</td>
            </tr>

        </tbody>
    </table>
</body>
<script>

</script>