

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
@*    <meta http-equiv="refresh" content="0; URL=../User/Login" />
*@    <title>Home</title>
</head>
<body>
    Home
    <div>
    </div>
</body>
</html>
