
<head>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script type="text/javascript" src="~/Scripts/userlogin.js"></script>
    <script type="text/javascript" src="~/Scripts/controllerbridge.js"></script>
    <link rel="stylesheet" href="~/Content/login.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">

</head>


<body>
    <section>
        <div class="imgBx">
            <img src="~/Content/bgart.png">

        </div>
        <div class="contentBx">
            <div class="logo">
                <img src="~/Content/logo.png">
            </div>

            <div class="formBx">



                <form onsubmit="logIn()">
                    <h2>Login</h2>
                    <div class="inputBx">
                        <label>
                            Email
                            <input id="email" type="email" name="email" required>
                        </label>

                    </div>
                    <div class="inputBx">
                        <label>
                            Password
                            <input id="password" type="password" name="password" required>
                        </label>

                    </div>
                    <div class="remember">
                        <label>
                            <input id="rememberMe" type="checkbox" name="rememberMe">Remember me
                        </label>
                    </div>
                    <div class="inputBx">
                        <input type="submit" value="Log in" id="btnSignIn">
                    </div>



                    <div class="inputBx">
                        <p>Don't have an account? '<a href="Register">Register now</a></p>
                    </div>


                </form>
            </div>
        </div>
    </section>
</body>

